.pre-commit-config.yaml
venv/
**/.DS_Store
archive/
private/
data/private/
data/foreca*
data/models.db
util/private/
logs/
wind_power/archive/
.env.local
**/__pycache__/
png/
**/candidate*.joblib
node_modules/
.firebase/
firebase-debug.log*
.env
functions/node_modules/
functions/lib/
functions/.runtimeconfig.json
*.log
.firebaserc
firebase.json
deploy/filtered_predictions.csv
deploy/privacy-policy.html
deploy/ads.txt
deploy/prediction_snapshot*
deploy/past_performance*
model/models.db
.envrc
.mailmap
.pre-commit-config.yaml
utils/private/
model/
model/rf_model.joblib
data/create/**/*.csv
**/*.db
**/*.db-journal
data/prediction.db
.schema
package-lock.json
data/create/91_model_experiments/models/
data/create/11_weather_csv_2_sql/*.sql
data/create/91_model_experiments/windpower_xgboost.joblib
data/create/91_model_experiments/XGBoost_model.pkl
data/create/10_weather_fetch_history/2024-12-23_101783.sql
data/create/10_weather_fetch_history/2024-12-23_101784.sql
data/create/10_weather_fetch_history/2024-12-29.sql
data/create/01_imports/imports.sql
data/create/05_holidays/holidays.sql
data/create/50_openmeteo/irradiance.sql
deploy/transmission_outages.json
data/create/12_openmeteo_ws/eu_ws_2025-01-12.sql
repomix-output.txt
repomix-background.md
