.pre-commit-config.yaml
venv/
**/.DS_Store
archive/
data/private/
data/foreca*
data/models.db
util/private/
logs/
wind_power/archive/
.env.local
**/__pycache__/
png/
**/candidate*.joblib
node_modules/
.firebase/
firebase-debug.log*
.env
functions/node_modules/
functions/lib/
functions/.runtimeconfig.json
*.log
.firebaserc
firebase.json
deploy/filtered_predictions.csv
deploy/privacy-policy.html
deploy/ads.txt
deploy/prediction_snapshot*
deploy/past_performance*
model/models.db
.envrc
.mailmap
.pre-commit-config.yaml
utils/private/
model/
model/rf_model.joblib
