bs4==0.0.2
lxml==5.1.0
matplotlib==3.8.2
optuna==4.0.0
openai==2.3.0
pandas==2.2.0
pip==26.0
pipdeptree==2.14.0
pyarrow==15.0.0
pytz==2024.1
PySocks==1.7.1
requests==2.32.5
scikit-learn==1.5.2
umap-learn==0.5.6
seaborn==0.13.2
shap==0.46.0
statsmodels==0.14.1
typer==0.9.0
entsoe-py==0.6.7
ggshield==1.44.1
numpy==1.26.4
xgboost==3.0.5
lightgbm==4.6.0
python-dotenv==0.21.1
rich==12.5.1
scipy==1.13.0
pre-commit==4.3.0
torch==2.8.0
tabulate==0.9.0
pytest==8.3.2
ruff==0.14.2
coverage==7.11.0
pytest-cov==7.0.0
pytest-xdist==3.8.0
