body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
    margin: 20px;
    background-color: #f0f2f5;
    color: rgba(51, 51, 51, 0.9);
}

#predictionChart {
    height: 40vh;
    width: 100%;
    max-width: 920px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 24px;
}

#windPowerChart {
    max-width: 920px;
    margin: auto;
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    padding-top: 24px;
}

#chart {
    max-width: 920px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 12px;
}

#predictionText {
    max-width: 920px;
    line-height: 1.6;
    box-sizing: border-box;
    margin: auto;
    margin-top: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#narration {
    max-width: 920px;
    margin: auto;
    line-height: 1.6;
    padding-bottom: 24px;
    box-sizing: border-box;
}

#llm {
    max-width: 920px;
    margin: auto;
    text-align: left;
    color: rgba(102, 102, 102, 0.7);
    padding-top: 8px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: 0.9em;

}

#pastPredictions {
    height: 40vh;
    width: 100%;
    max-width: 920px;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 24px;
    padding-top: 24px;
}

#disclaimer {
    position: relative;
    max-width: 512px;
    line-height: 1.6;
    margin: 16px auto 0;
    color: #666;
    font-size: 0.8em;
    opacity: 0.6;
    width: 100%;
    padding: 4px 0;
    text-align: center;
}

#topdisclaimer {
    position: relative;
    max-width: 512px;
    line-height: 1.6;
    margin: auto;
    color: #666;
    font-size: 0.8em;
    opacity: 0.6;
    width: 100%;
    padding: 16px;
    padding-bottom: 8px;
    text-align: center;
}

#github-logo-container {
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0px 0;
    padding-top: 16px;
    margin: 16px 0 4px 0;
}

#source-code-text {
    color: #666;
    text-decoration: none;
    font-size: 0.8em;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    text-align: center;
    margin-bottom: 32px;
}

#source-code-text:hover {
    color: #666;
    text-decoration: none;
    opacity: 0.8;
}

#github-logo {
    height: 32px;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
}

#github-logo:hover {
    opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    color: rgba(102, 102, 102, 0.8);
    margin-bottom: 0;
    line-height: 1.3;
}

p {
    margin-bottom: 1em;
}

a {
    color: #000;
    text-decoration: underline;
    opacity: 0.6;
    border-bottom: 1px solid transparent;
    font-weight: 400;
    transition: opacity 0.15s ease-in-out;
}

a:source-code-link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #000;
    opacity: 1;
    font-weight: 500;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
    margin-left: 16px;
    padding-left: 16px;
    text-indent: -16px;
}

table {
    width: 100%;
    font-size: 0.8em;
    border-collapse: separate;
    border-spacing: 2px;
    margin: auto;
}

th, td {
    vertical-align: middle;
    /* text-align: center; */
    padding: 2px;
}

@media (max-width: 768px) {
    #body {
        margin: 4px;
    }

    #predictionText {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 16px;
    }

    #predictionChart {
        height: 60vh;
    }

    #pastPredictions {
        height: 60vh;
    }

    #disclaimer {
        max-width: 320px;
    }

    #topdisclaimer {
        max-width: 320px;
        padding: 8px;
        padding-bottom: 4px;
    }
}